<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About</title>
		<link rel="stylesheet" href="../../css/styles.css" />
	</head>
	<body>
    {{>header}}
  <main>
    		<img src="../../img/profile.jpg" alt="profile picture" />
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis quam doloremque eum, eaque sed expedita quasi dolores placeat illo iure nemo hic quaerat illum veniam! Enim at autem similique dolor nam consequuntur amet in obcaecati atque quisquam. Ex saepe natus error, ut numquam dolores, non cumque, voluptate dicta doloremque ipsa.</p>

  </main>
    {{>footer}}
	</body>
</html> 