<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About</title>
		<link rel="stylesheet" href="../../css/styles.css" />
	</head>
	<body>
    {{>header}}
  <main>
    {{!-- <h1>About WeatherApp</h1> --}}
    <img src="../../img/profile.jpg" alt="profile picture" />
    <p>This one is J'zargo, your Khajiit weather man, bringing you the latest and most accurate weather updates from all corners of Nirn and beyong. J'zargo's keen senses and deep knowledge of the skies ensure that you are always prepared for whatever weather comes your way. At WeatherApp, we are dedicated to providing you with real-time weather information, ensuring you stay informed and ready for any adventure.</p>
    <h2>What We Offer</h2>
    <p>At WeatherApp, we provide real-time weather updates to keep you informed about the latest conditions. Whether you need to know the current temperature, humidity, wind speed, or weather conditions, our app delivers accurate and up-to-date information for any location around the world. This helps you plan your day better and be prepared for any weather changes.</p>
    <p>Our application is designed with ease of use in mind. Simply enter the location you’re interested in, and WeatherApp will instantly fetch and display the latest weather data. The user-friendly interface ensures that even those who aren’t tech-savvy can navigate the app effortlessly and get the information they need quickly.</p>
    <p>We understand the importance of reliable data, which is why WeatherApp integrates with trusted data sources. We use the Mapbox Geocoding API to accurately determine geographical locations and the Weatherstack API to provide detailed weather forecasts. These partnerships ensure that the weather information you receive is not only timely but also highly reliable.</p>
  </main>
    {{>footer}}
	</body>
</html> 